$main-color : white;//#7BB0A6;
$seconday-color : black;//#7CEECE;
$third-color : white;//#64DDBB;
@import 'ed-grid/ed-grid';
@import 'sitio/base';
@import 'sitio/slider';
@import 'sitio/reproductor';
@import 'sitio/videos';