.videos{
	padding-top : 30px;
	padding-bottom : 15px;
	&__title{
		font-size : 1.7em;

	}
	&__subtitle{
		font-weight: 600;
		font-size: 1.5em;
	}

}

.elemento{
	width : 250px;
	cursor : pointer;
	font-size : .8em;
	margin-top : 10px;
}